<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882110099350-2r0uamivnklpal5b3po0k0o66ejc9h46.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882110099350-2r0uamivnklpal5b3po0k0o66ejc9h46</string>
	<key>API_KEY</key>
	<string>AIzaSyAFqsCd34Jr_X_LJKc-hnhyJ59mepkGRP8</string>
	<key>GCM_SENDER_ID</key>
	<string>882110099350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jmek.toybox</string>
	<key>PROJECT_ID</key>
	<string>jmek-toybox</string>
	<key>STORAGE_BUCKET</key>
	<string>jmek-toybox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882110099350:ios:47c68cac5684c9798877b7</string>
	<key>DATABASE_URL</key>
	<string>https://jmek-toybox.firebaseio.com</string>
</dict>
</plist>